body{margin:0 auto;background:#eee;font-family:Georgia, "MS Sans Serif", serif;font-size:11pt;line-height:1.5em}
a:visited, a:link{color:#090;text-decoration:none}
a:hover, a:active{color:#000;text-decoration:none}
.clear{clear:both}
*{outline:none;}
img{margin:0;padding:0;border:none;}
div#header p, div#header h1, div#header ul{margin:0;padding:0}
div#logo a{display:block}
div#logo h1 a span, div#logo p{display:none}
#sitebanner{float:left;position:absolute;margin-top:-102px;margin-left:280px;}
div#header{background:url(/images/header.png) scroll repeat-y top left;height:126px;width:100%;padding:0px;margin:0 auto}
div#header-inside, div#footer-inside{margin:0 auto}
div#logo h1 a{background:url(/images/logo.png) no-repeat;height:90px;width:182px;float:left;margin:12px}
div#title{border-bottom:2px solid #336666;border-top:2px solid #C0E2D4;color:#000;font-weight:bold;width:100%;margin:0 auto;background:transparent url(/images/tbg.png) repeat-x top left;height:35px;}
div#title a, div#title a:visited{text-decoration:underline;color:#000;}
div#title a:hover{color:#900;}
div#title span{float:left;padding:10px}
#content{width:97%;margin:0 auto;padding:1em;background:#fff}
#content-left{width:80%;padding:0 2px;}
#content-right{width:180px;padding:0 0 0 5px;float:right;padding-top:-100px}
p{margin-bottom:0;margin-top:0;}
p.desc{text-align:left;margin:0}
.labelr{text-align:right;margin:0;padding:0}
.title{margin:0 0 1em 0;font-weight:bold;height:20px;font-size:16pt;}
textarea{color:#000;font-family:Georgia, "Times New Roman", serif;font-size:10pt;width:350px;height:150px;padding:1px;border:1px solid #090;background-color:#f0f5e6}
#submit, #button{width:auto;background-image:url(images/titlebg.png);}
input{color:#000;font-size:10pt;width:210px;padding:1px;border:1px solid #090;background-color:#f0f5e6}
select{color:#000;font-size:10pt;width:300px;padding:1px;border:1px solid #090;background-color:#f0f5e6}
#submit{color:#000;font-size:10pt;font-weight:bold;width:150px;padding:1px;border:1px solid #000}
#button{color:#000;font-size:10pt;font-weight:bold;width:150px;padding:1px;background-color:#e1e1e1;border:1px solid #f0f5e6}
label{text-align:right;width:200px;font-size:10pt;font-weight:bold;padding-right:50px}
fieldset{padding:0 5px}
legend{margin:1em;padding:0;color:#060;font-size:12pt;font-weight:bold}
.req{color:#f00;font-size:8pt}
.sm{color:#333;font-size:8pt}
.nreq{color:#fff;font-size:8pt}
.strength0{background:#cccccc;width:214px}
.strength1{background:#ff0000;width:214px}
.strength2{background:#6ff;width:214px}
.strength3{background:#56e500;width:214px}
.strength4{background:#4dcd00;width:214px}
.strength5{background:#399800;width:214px}
#passwordStrength{height:8px;display:block;float:left}
div#guidelines{display:none;width:50.6em;margin:0 auto;padding:1.0em;background:#fff;border-bottom:1px solid #ccc;border-left:1px solid #ccc;border-right:1px solid #ccc;border-top:1px solid #ccc}
.auto{width:auto;}
img{border:0}
div#ssl{float:right}
p.error{text-align:center;margin:0;color:#f00;}
#navi a, #navi a:visited{text-decoration:none;text-align:left;color:#000;display:block;width:10em;padding:1px 5px;margin:1px auto;border-bottom:1px solid #ccc;background-color:#eee;}
#navi a:hover{color:#000;background-color:#fff;}
#navi a.selected{color:#000;background-color:#fff;}
ul#paging{list-style:none;position:relative;bottom:0px;right:40px;}
#footer{text-align:center;padding-top:10px;font-size:12px}
#footer a, #footer a:visited{text-decoration:none;color:#000;}
#footer a:hover{color:#090;}
#footer a.selected{color:#000;}
ul#paging li{float:left;line-height:1.0;padding-left:3px;}
ul#paging li a{color:#000;text-decoration:none;text-align:center;width:14px;height:14px;padding:2px 2px;display:block;background-color:#eee;border:1px solid #000;}
ul#paging li a:hover, ul#paging li a:active{color:#900;background-color:#fff;}
ul#paging li a.selected{color:#090;font-weight:bold;}
.suggest_link{clear:both;background-color:#fff;padding:1px 1px;font-size:9pt;font-weight:normal}
.suggest_link_over{clear:both;color:#090;background-color:#d9ffd9;padding:1px 1px;font-size:9pt;font-weight:normal}
#bookmarks{position:relative;width:54.2em;margin:auto;}
#bookmarks div{position:relative;text-align:center}
#bookmarks img{display:inline;margin:0px 6px;}
#bookmarks a{-moz-opacity:0.2;opacity:0.2;}
#bookmarks a:hover{-moz-opacity:1.0;opacity:1.0;}
#page{}
#sitenav{width:832px;height:39px;background:url(/images/nav-bg.png) no-repeat top left;margin:-32px 0 0 173px;float:right;position:absolute}
#sitenav ul{margin:0;padding:0;}
#sitenav ul li{margin:0;padding:0;list-style:none;float:left;text-align:center;line-height:39px;font-size:14px;color:#000;padding-right:2px;background:url(/images/nav-divide.png) scroll no-repeat right top;position:relative;}
#sitenav ul li a{color:#000000;font-weight:bold;text-decoration:none;text-shadow:1px 1px 2px #ccc;}
#sitenav ul li.home a{width:99px;text-indent:34px;}
#sitenav ul li.freesms a{width:130px;}
#sitenav ul li.coverage a{width:138px;}
#sitenav ul li.tools a{width:86px;}
#sitenav ul li.faq a{width:52px;}
#sitenav ul li.contact a{width:99px;}
#sitenav ul li:hover{background:url(/images/nav-hover.png) scroll no-repeat top right;}
#sitenav ul li.help:hover{background:url(/images/nav-plain-hover.png) scroll repeat-x top;}
#sitenav ul li.home:hover{background:url(/images/nav-home-hover.png) scroll no-repeat top right;}
#sitenav ul li a{display:block;float:left;} 
